@if (!string.IsNullOrEmpty(ViewBag.LoginError))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.LoginError
    </div>

}


@using (Html.BeginForm("GirisYap", "Account"))
{
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email Giriniz" name="UserName">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="Password">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
}