<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hakkımızda &ndash; AĞIRSAĞLAM</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/agirsaglamui/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/style.css">
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/responsive.css">
</head>
   

<!--End Search Form Drawer-->
<!--Header-->
<div>
    <div class="header-wrap  d-flex">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="index.html">
                        <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <div>
                        <nav class="grid__item" id="AccessibleNav">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="#">PROGRAMLAR <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu">
                                    <a href="#">ÜCRETSİZ REHBERLER <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu">
                                    <a href="index.html">MAĞAZA <i class="anm anm-angle-down-l"></i></a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">
                        <a href="#;" class="site-header__cart" title="Cart">
                            <i class="icon anm anm-bag-l"></i>
                            <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span>
                        </a>


                    </div>
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width bg-dark text-light">Hakkımızda</h1></div>
        </div>
    </div>
    <!--End Page Title-->
    <!--GÖrseller-->
    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4">
                <img class="blur-up lazyload" src="~/agirsaglamui/assets/images/about/about1.jpg" alt="About Us" />
                <hr>
                <p class="text-xl-center font-weight-bold">Furkan KAYA</p>
                <p class="text-xl-center font-weight-bold">Şehir Üniversitesi Bilgisayar Mühendisliği</p>
                <p class="text-xl-center font-weight-bold">Kuvvet kondisyon ve postür düzeltici egzersizler eğitmeni</p>
                <p class="text-xl-center font-weight-bold">Powerlifting ve Strongman Sporcusu</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4">
                <img class="blur-up lazyload" src="~/agirsaglamui/assets/images/about/about2.jpg" alt="About Us" />
                <hr>
                <p class="text-xl-center font-weight-bold">Yüksel Murat ŞENER</p>
                <p class="text-xl-center font-weight-bold">Yeditepe Üniversitesi Beslenme ve Diyetetik</p>
                <p class="text-xl-center font-weight-bold">Vücut Geliştirme Sporcusu</p>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4">
                <img class="blur-up lazyload" src="~/agirsaglamui/assets/images/about/about3.jpg" alt="About Us" />
                <hr>
                <p class="text-xl-center font-weight-bold">Emre Cem Dilekoğlu</p>
                <p class="text-xl-center font-weight-bold">Haliç Üniversitesi Antrenörlük ve Rekreasyon</p>
                <p class="text-xl-center font-weight-bold">Powerlifting ve Strongman Sporcusu</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <blockquote>
                    <p>
                        <strong class="h3 font-weight-bold">
                            İyi koçlar spora tutkuyla yaklaşır, daha iyileri ise paylaşmaya!
                        </strong>
                    </p>
                </blockquote>
                <p class="font-weight-bold">
                    Türkiye bizi seviyor çünkü Ağırsağlam’da yıllardır fitness
                    tutkusunu güncel bilimsel verilerle ve yüzbinlerce takipçimizin deneyimi ile harmanlayıp sizlerle paylaşıyoruz.
                </p>
                <hr>
            </div>

            <div class="col-12">
                <blockquote>
                    <p>
                        <strong>
                            Spora dair komplike olan her şeyi, sizin için basit hale getiriyoruz.
                        </strong>
                    </p>
                </blockquote>
                <p class="font-weight-bold">
                    500’den fazla <span class="text-danger">Youtube</span> videomuz, 100’den fazla eşsiz makalemiz ve birçok yayınımızla bizi takip eden herkes daha verimli spor yapıyor.

                    Biz sporcu hayatının herkes tarafından yaşanabilecek kadar basit olduğunu iddia ediyoruz.

                    Doğru bakış açısıyla harcadığınız her dakikanın maksimum verimde geçebileceğini, hedeflerinize daha kolay ulaşabileceğinizi iddia ediyoruz.

                    Ülkemizde en bilinçli ve en iyi sporcularını yetiştirmeyi hedefliyoruz.
                </p>
                <hr>
            </div>
            <div class="col-12">
                <blockquote>
                    <p>
                        <strong class="h2 font-weight-bold">
                            Yolu Yürüyoruz!
                        </strong>
                    </p>
                </blockquote>
                <p class="font-weight-bold">
                    Ekibimiz yıllardır birçok müsabakaya katılıyor, birçok burslu sporcu yetiştiriyor. Uluslarası müsabakalarda ses getiren, rekor kıran sporcularla çalışmanın tecrübesiyle sizlere bilgi paylaşıyoruz.

                    Eğer size yoğun hayatta spor yapma tavsiyesi veriyorsak, bilin ki biz bunu tecrübe ettik.

                    Eğer size müsabaka hazırlığı ile ilgili koçluk yapıyorsak, bilin ki o süreci yurt içi ve yurt dışında deneyimledik.
                </p>
                <hr>
            </div>
            <div class="col-12">
                <blockquote>
                    <p>
                        <strong>
                            Ne kadar çok bilsek de, tecrübe etmenin kıymetini iyi biliyoruz!
                        </strong>
                    </p>
                </blockquote>
            </div>
            <div class="col-12">
                <blockquote>
                    <p>
                        <strong class="h2 font-weight-bold">
                            Ürün ve HİZMETLERİMİZ
                        </strong>
                    </p>
                </blockquote>
                <p class="font-weight-bold">
                    Koçluk hizmetlerimiz hedefinizdeki vücuda ulaşmanız için uluslararası koçluk firmalarıyla kıyaslanacak kalitede, Türkiye’ye öncü olarak çalışmaktadır. Antrenörlüğün ve koçluğun çıtasını yükseltmeyi hedefliyoruz ve görüyoruz ki bunu sürekli başarıyoruz.

                    Ürün ve hizmetlerimiz tamamen kendi ekibimiz tarafından hazırlanır, %100 şeffaf olarak sizinle paylaşılır. Bizimle iletişime geçtiğinizde asistanlarla irtibat kurmazsınız.

                    Mağazamızda sunduğumuz ürünler sizin daha iyi spor yapmanız için, yüksek kalite öncelik alınarak tasarlanmıştır. Markamızı öne çıkardığımız her şeyde en kalitelisini yapmak istediğimizi belirtmek isteriz.
                </p>
                <hr>
            </div>
        </div>

    </div>

</div>

<!-- Including Jquery -->
<script src="~/agirsaglamui/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/jquery.cookie.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="~/agirsaglamui/assets/js/bootstrap.min.js"></script>
<script src="~/agirsaglamui/assets/js/plugins.js"></script>
<script src="~/agirsaglamui/assets/js/popper.min.js"></script>
<script src="~/agirsaglamui/assets/js/lazysizes.js"></script>
<script src="~/agirsaglamui/assets/js/main.js"></script>