<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog Fullwidth &ndash; Belle Multipurpose Bootstrap 4 Template</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/agirsaglamui/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/style.css">
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/responsive.css">
</head>

<!--Header-->
<div>
    <div class="header-wrap  d-flex">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="https://localhost:7203/Kullanici/Home/index">
                        <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <div>
                        <nav class="grid__item" id="AccessibleNav">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="#">İNDİRİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu">
                                    <a href="clothes.html">GİYİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu">
                                    <a href="accessory.html">AKSESUAR <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="coffee.html">KAHVE <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="#">İLETİŞİM <i class="anm anm-angle-down-l"></i></a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="https://localhost:7203/Kullanici/Home/index">
                            <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">
                        <a href="#;" class="site-header__cart" title="Cart">
                            <i class="icon anm anm-bag-l"></i>
                            <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span>
                        </a>

                    </div>
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center mb-0">
        <div class="page-title">
            <div class="wrapper font-bold"><h1 class="page-width">Ağırsağlam Mağaza Blog</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <!--Main Content-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">

                <div class="blog--list-view blog--grid-load-more text-center">
                    <div class="article">
                        <!-- Article Image -->
                        <a class="article_featured-image" href="#"><img class="blur-up lazyload" src="~/agirsaglamui/assets/images/blog/blog1.PNG" alt="Spor Çantanda Hangi Fitness Aksesuarları Olmalı?"></a>
                        <h2 class="h3 text-center"><a href="blog-left-sidebar.html" class="text-center">Spor Çantanda Hangi Fitness Aksesuarları Olmalı?</a></h2>
                        <ul class="publish-detail">
                            <li><i class="anm anm-user-al" aria-hidden="true"></i>  User</li>
                            <li><i class="icon anm anm-clock-r"></i> <time datetime="2017-05-02">May 02, 2017</time></li>
                            <li>
                                <ul class="inline-list ">
                                    <li><i class="icon anm anm-comments-l"></i> <a href="#"> 0 comments</a></li>
                                </ul>
                            </li>
                        </ul>

                        <p class="text-center"><a href="https://www.agirsaglam.com/blog/" class="btn btn-secondary btn--small ">Read more <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                    </div>

                </div>
            </div>
            <!--End Main Content-->
        </div>
    </div>

</div>
<!--End Body Content-->

    <!-- Including Jquery -->
<script src="~/agirsaglamui/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/jquery.cookie.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/agirsaglamui/assets/js/vendor/wow.min.js"></script>
    <!-- Including Javascript -->
<script src="~/agirsaglamui/assets/js/bootstrap.min.js"></script>
<script src="~/agirsaglamui/assets/js/plugins.js"></script>
    <script src="~/agirsaglamui/assets/js/popper.min.js"></script>
<script src="~/agirsaglamui/assets/js/lazysizes.js"></script>
<script src="~/agirsaglamui/assets/js/main.js"></script>
