<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fitness Aksesuar &ndash; AĞIRSAĞLAM</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/agirsaglamui/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/style.css">
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<div>
    <div class="header-wrap  d-flex">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="https://localhost:7203/Kullanici/Home/index">
                        <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <div>
                        <nav class="grid__item" id="AccessibleNav">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/discountedproduct">İNDİRİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu"><a href="https://localhost:7203/Kullanici/Home/clothes">GİYİM <i class="anm anm-angle-down-l"></i></a></li>
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/accessory">AKSESUAR <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/coffee">KAHVE <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/contact">İLETİŞİM <i class="anm anm-angle-down-l"></i></a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="https://localhost:7203/Kullanici/Home/index">
                            <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">

                        <a href="https://localhost:7203/Kullanici/Home/cart" title="Cart">
                            <i class="fas fa-shopping-cart" style="font-size: 20px;"></i>

                        </a>
                        <!--Minicart Popup-->
                        <!--EndMinicart Popup-->
                    </div>
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page-content">
    <!--MainContent-->
    <div id="MainContent" class="main-content" role="main">

        <!--End Breadcrumb-->

        <div class="container pl-5">
            <div class="row text-left" style="font-size: 50px; margin-bottom: 50px;">
                <div class="col-12 font-weight-bold text-center">
                    <p>
                        <span>
                            Sepet
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-3">Ürün Görsel</div>
                <div class="col-3">İsim</div>
                <div class="col-2">Adet</div>
                <div class="col-2">Fiyat</div>
                <div class="col-2">Sepetten Kaldır</div>
            </div>
            <hr style="border-top: 3px solid #000;">

            <!-- Sepet ürünleri burada listelenecek -->
            <div id="cart-items" class="row d-flex justify-content-between align-items-center">
                <!-- Bu bölüm, sepetteki her bir ürün için tekrar edecek -->
            </div>

            <hr style="border-top: 3px solid #000;">
            <div class="text-center">
                <p style="font-size: 25px;">Toplam: <span id="total-price"></span></p>
                <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 30px;">Ödemeye Geç</button>
                <div>
                    <a href="#">Alışverişe Devam Et.</a>
                </div>
            </div>
        </div>

        <!--End Body Content-->
        <!--Footer-->
        <footer id="footer">
            <div class="newsletter-section bg-light">
                <div class="container bg-light">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <div class="footer-social">
                                <ul class="list--inline site-footer__social-icons social-icons">
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Facebook"><i class="icon icon-facebook"></i></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                                    <li><a class="social-icons__link" href="#" target="_blank" title="YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer bg-light">
                <div class="container">
                    <!--Footer Links-->
                    <div class="py-5 my-6">
                        <ul class="nav justify-content-center border-bottom pb-5 mb-5">
                            <li class="nav-item ">
                                <a class="nav-link px-2 text-muted " href="about-us.html">Hakkımızda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="userguide.html">Kullanım Koşulları</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="privacypolicy.html">Gizlilik</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="terms.html">Satış Sözleşmeleri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="returnpolicy.html">İade Politikası</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="blog.html">Mağaza Blog</a>
                            </li>
                        </ul>
                    </div>
                    <hr>

                </div>
            </div>
        </footer>
        <!--End Footer-->
        <!--Scoll Top-->

    </div>
</div>

<script>
    // Sepet verilerini al
    var cartData = localStorage.getItem('sepetveri');
    if (cartData) {
        cartData = JSON.parse(cartData);

        // Sepet verilerini HTML içine göm
        var cartItemsContainer = document.getElementById('cart-items');
        cartData.forEach(function (item, index) {
            var itemDiv = document.createElement('div');
            itemDiv.className = 'col-12 d-flex justify-content-between align-items-center';
            itemDiv.innerHTML = `
                    <div class="col-3 d-flex align-items-center" style="height: 100px;">
                        <img src="${item.imgUrl}" alt="Product Image" style="max-height: 100px;">
                    </div>
                    <div class="col-3">${item.productName}</div>
                    <div class="col-2">${item.quantity}</div>
                    <div class="col-2">${item.price}</div>
                    <div class="col-2">
                        <button class="btn btn-danger productDeleteFromCart" data-index="${index}">Sil</button>
                    </div>
                `;
            cartItemsContainer.appendChild(itemDiv);
        });
        //toplam yazdırma
        function updateTotalPrice() {
            var totalPrice = 0;
            cartData.forEach(function (item) {
                totalPrice += item.price * item.quantity;
            });

            var totalPriceElement = document.getElementById('total-price');
            totalPriceElement.textContent = totalPrice.toFixed(2);
        }


        // Sil düğmelerine tıklama olayını ekle
        var deleteButtons = document.querySelectorAll('.productDeleteFromCart');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                var index = parseInt(event.target.getAttribute('data-index'));

                var confirmDelete = confirm('Bu ürünü sepetinizden silmek istediğinizden emin misiniz?');
                if (confirmDelete) {
                    // Silinecek ürünün fiyatını toplam fiyattan çıkar
                    var deletedItemPrice = cartData[index].price * cartData[index].quantity;
                    var totalPriceElement = document.getElementById('total-price');

                    var currentTotalText = totalPriceElement.textContent;
                    var currentTotalPrice = parseFloat(currentTotalText.replace('Toplam:', '').trim());

                    // Yeni toplam fiyatı hesapla ve güncelle
                    var newTotalPrice = currentTotalPrice - deletedItemPrice;
                    totalPriceElement.textContent = 'Toplam: ' + newTotalPrice.toFixed(2);

                    // Sepet verisini localStorage'dan ve sayfadan kaldır
                    cartData.splice(index, 1);
                    localStorage.setItem('sepetveri', JSON.stringify(cartData));

                    // Sayfadaki ürünü kaldır
                    var itemDiv = button.closest('.col-12');
                    itemDiv.remove();
                }
            });
        });
    }
    updateTotalPrice();
</script>



<!-- Including Jquery -->
<script src="~/agirsaglamui/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/jquery.cookie.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="~/agirsaglamui/assets/js/bootstrap.min.js"></script>
<script src="~/agirsaglamui/assets/js/plugins.js"></script>
<script src="~/agirsaglamui/assets/js/popper.min.js"></script>
<script src="~/agirsaglamui/assets/js/lazysizes.js"></script>
<script src="~/agirsaglamui/assets/js/main.js"></script>
