<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fitness Aksesuar &ndash; AĞIRSAĞLAM</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/agirsaglamui/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/style.css">
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/responsive.css">
</head>
<div class="header-wrap  d-flex">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!--Desktop Logo-->
            <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                <a href="https://localhost:7203/Kullanici/Home/index">
                    <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                </a>
            </div>
            <!--End Desktop Logo-->
            <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                <div class="d-block d-lg-none">
                    <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        <i class="icon anm anm-times-l"></i>
                        <i class="anm anm-bars-r"></i>
                    </button>
                </div>
                <!--Desktop Menu-->
                <div>
                    <nav class="grid__item" id="AccessibleNav">
                        <!-- for mobile -->
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            <li class="lvl1 parent megamenu">
                                <a href="https://localhost:7203/Kullanici/Home/discountedproduct">İNDİRİM <i class="anm anm-angle-down-l"></i></a>

                            </li>
                            <li class="lvl1 parent megamenu"><a href="https://localhost:7203/Kullanici/Home/clothes">GİYİM <i class="anm anm-angle-down-l"></i></a></li>
                            <li class="lvl1 parent megamenu">
                                <a href="https://localhost:7203/Kullanici/Home/accessory">AKSESUAR <i class="anm anm-angle-down-l"></i></a>
                            </li>
                            <li class="lvl1 parent dropdown">
                                <a href="https://localhost:7203/Kullanici/Home/coffee">KAHVE <i class="anm anm-angle-down-l"></i></a>
                            </li>
                            <li class="lvl1 parent dropdown">
                                <a href="https://localhost:7203/Kullanici/Home/contact">İLETİŞİM <i class="anm anm-angle-down-l"></i></a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <!--End Desktop Menu-->
            </div>
            <!--Mobile Logo-->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                <div class="logo">
                    <a href="https://localhost:7203/Kullanici/Home/index">
                        <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                    </a>
                </div>
            </div>
            <!--Mobile Logo-->
            <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                <div class="site-cart">
                    <a href="#;" class="site-header__cart" title="Cart">
                        <i class="icon anm anm-bag-l"></i>
                        <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span>
                    </a>
                    <!--Minicart Popup-->
                    <!--EndMinicart Popup-->
                </div>
                <div class="site-header__search">
                    <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="MainContent" class="main-content" role="main">

    <!--End Breadcrumb-->

    <div class="container pl-5">
        <div class="row text-left">
            <div class="col-12 font-weight-bold">
                <p>
                    <span>
                        Merhaba deyin!
                    </span>
                </p>
                <p>
                    <span>
                        Bizimle iletişime geçmek istediğiniz için teşekkür ediyoruz! Eğer bize ulaşma sebebiniz aşağıdakilerden biriyse hızlı yanıt alabilir,
                        başka bir şey için mesaj atmak istiyorsanız aşağıdaki formu doldurabilirsiniz!
                    </span>
                </p>
                <p>
                    <span>
                        Siparişimde eksik bilgiler var!
                    </span>
                </p>
                <p>
                    <span>
                        Eğer henüz verdiğiniz bir siparişte eksik bilgiler varsa lütfen bize ulaşın ve en hızlı şekilde
                        kargonuzun doğru çıkmasını sağlayalım!
                    </span>
                </p>
                <p>
                    <span>
                        Siparişim nerede?
                    </span>
                </p>
                <p>
                    <span>
                        Siparişleriniz tatiller ve hafta sonları hariç ertesi gün kargoya teslim edilir. Kargo şubesi siparişinizi işleme aldığında size bir e posta gelir. Eğer e postanız gelmediyse lütfen yanlış e posta adresini kontrol etmediğinizden emin olmak için sitemizde giriş yapın veya e postanızın "spam" ya da "gereksiz" klasörünü kontrol edin.

                        Kargonuz dağıtıma çıktığında ayrıca SMS alırsınız.

                        Elbette bunlar yardımcı olmadıysa bize aşağıdan ulaşabilirsiniz!
                    </span>
                </p>
                <p>
                    <span>
                        Değişim
                    </span>
                </p>
                <p>
                    <span>
                        Ağırsağlam'da eğitim ürünleri iade edilmeyen ürünlerdir. Diğer fiziksel ürünleri 14 gün içinde iade edebilirsiniz.

                        Yeni yasal düzenlemeye göre iade veya değişim işlemleri için geri dönen kargo ücreti alıcıya aittir. Ancak Ağırsağlam'da ayrıcalıklısınız. İade ücretinizi de biz karşılıyoruz!
                    </span>
                </p>

            </div>
        </div>

    </div>

    <!--MainContent-->
</div>

<div class="container pl-5">
    <h1 class="text-center" style="margin-bottom: 20px;">BİZE ULAŞIN</h1>
    <form id="contactForm" method="post" action="/ProductRestClient/SaveContact">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName4">İsim</label>
                <input type="text" class="form-control" id="inputName4" name="name" placeholder="İsim">
            </div>
            <div class="form-group col-md-6">
                <label for="inputSurname4">Soyad</label>
                <input type="text" class="form-control" id="inputSurname4" name="surname" placeholder="Soyad">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="....example.com">
        </div>
        <div class="form-group">
            <label for="inputText">Metin</label>
            <input type="text" class="form-control" id="inputText" name="text" style="height: 150px;" placeholder="Şikayetlerinizi, Taleplerinizi buraya yazabilirsiniz.">
        </div>

        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</div>


<!--iletişim mesaj alma kodu-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#contactForm").submit(function (event) {
            event.preventDefault(); // Sayfa yenilenmesini engelle

            // Form verilerini topla
            var name = $("#inputName4").val();
            var surname = $("#inputSurname4").val();
            var email = $("#inputEmail").val();
            var text = $("#inputText").val();

            var contactData = {
                Id:0,
                Name: name,
                Surname: surname,
                Email: email,
                Text: text
            };

       
            $.ajax({
                url: "https://localhost:7119/api/Contact/Save",
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify(contactData),
                dataType: "json",
                success: function (result) {
                    if (result.success) {      
                        alert("Mesajınız başarıyla gönderildi!");
                    } else {  
                        alert("Mesajınız gönderilirken bir hata oluştu.");
                    }
                },
                error: function () {     
                    alert("Bir hata oluştu. Lütfen daha sonra tekrar deneyin.");
                }
            });
        });
    });
</script>




<!-- Including Jquery -->
<script src="~/agirsaglamui/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/jquery.cookie.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="~/agirsaglamui/assets/js/bootstrap.min.js"></script>
<script src="~/agirsaglamui/assets/js/plugins.js"></script>
<script src="~/agirsaglamui/assets/js/popper.min.js"></script>
<script src="~/agirsaglamui/assets/js/lazysizes.js"></script>
<script src="~/agirsaglamui/assets/js/main.js"></script>
