<div>
    <div class="header-wrap  d-flex">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="https://localhost:7203/Kullanici/Home/index">
                        <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <div>
                        <nav class="grid__item" id="AccessibleNav">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/discountedproduct">İNDİRİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu"><a href="https://localhost:7203/Kullanici/Home/clothes">GİYİM <i class="anm anm-angle-down-l"></i></a></li>
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/accessory">AKSESUAR <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/coffee">KAHVE <i class="anm anm-angle-down-l"></i></a>
                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/contact">İLETİŞİM <i class="anm anm-angle-down-l"></i></a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="https://localhost:7203/Kullanici/Home/index">
                            <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">
                        <a href="#;" class="site-header__cart" title="Cart">
                            <i class="icon anm anm-bag-l"></i>
                            <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span>
                        </a>
                    </div>
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="page-content">
    <!--Home slider-->
    <div class="slideshow slideshow-wrapper pb-section sliderFull">
        <div class="home-slideshow">
            <div class="slide">
                <div class="blur-up lazyload bg-size">
                    <img class="blur-up lazyload bg-img" src="~/agirsaglamui/assets/images/slideshow-banners/ana-sayfa-slider1.png" alt="Shop Our New Collection" title="Shop Our New Collection" />
                    <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                        <div class="slideshow__text-content bottom">
                            <div class="wrap-caption center">
                                <h2 class="h1 mega-title slideshow__title">En İyİ Performansına Hazır Mısın?</h2>

                                <span class="mega-subtitle slideshow__subtitle">LIFTING STRAP, WRAP ve DİZLİKLER</span>
                                <span class="btn" style="background-color:#ffff; color:#0000;"><a href="accessory.html">ÜRÜNLERİ İNCELE!</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="blur-up lazyload bg-size">
                    <img class="blur-up lazyload bg-img" src="~/agirsaglamui/assets/images/slideshow-banners/ana-sayfa-slider2.png" alt="Summer Bikini Collection" title="Summer Bikini Collection" />
                    <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                        <div class="slideshow__text-content bottom">
                            <div class="wrap-caption center">
                                <h2 class="h1 mega-title slideshow__title">8 YILDIR AĞIRSAĞLAMIZ!</h2>
                                <span class="mega-subtitle slideshow__subtitle">ÖZEL T-SHİRT ve HOODIELER!</span>
                                <span class="btn"><a href="clothes.html">ÜRÜNLERİ İNCELE!</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Home slider-->
    <!--Collection Tab slider-->
    <div class="tab-slider-product section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-header text-center">
                        <h2 class="h2">Fırsat Reyonu</h2>
                        <p class="text-large">Limitli stoklarda fırsat ürünlerini kaçırmayın!</p>
                    </div>
                    <div class="tabs-listing">
                        <div class="tab_container">
                            <div id="tab1" class="tab_content grid-products">
                                <div class="productSlider">
                                    <div class="col-12 item">
                                        <!-- start product image -->
                                        <div class="product-image">
                                            <!-- start product image -->
                                            <a href="short-description.html">
                                                <!-- image -->
                                                <img class="primary blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product-img-1.PNG" alt="image" title="product">
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product-img-2.PNG" alt="image" title="product">
                                                <!-- End hover image -->
                                                <!-- product label -->
                                                <div class="product-labels rectangular"><span class="lbl on-sale">İNDİRİM</span> <span class="lbl pr-label1">new</span></div>
                                                <!-- End product label -->
                                            </a>
                                            <!-- end product image -->
                                            <!-- countdown start -->
                                            <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                                            <!-- countdown end -->
                                            <!-- end product button -->
                                        </div>
                                        <!-- end product image -->
                                        <!--start product details -->
                                        <div class="product-details text-center">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="short-description.html">Ağırsağlam Siyah Tişört</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div class="product-price">
                                                <span class="old-price">389.90TL</span>
                                                <span class="price">319.90TL</span>
                                            </div>
                                            <!-- End product price -->

                                            <div class="product-review">
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                            </div>
                                            <!-- Variant -->
                                            <!-- End Variant -->
                                        </div>
                                        <!-- End product details -->
                                    </div>
                                    <div class="col-12 item">
                                        <!-- start product image -->
                                        <div class="product-image">
                                            <!-- start product image -->
                                            <a href="short-description.html">
                                                <!-- image -->
                                                <img class="primary blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product2-img-1.PNG" alt="image" title="product">
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product2-img-2.PNG" alt="image" title="product">
                                                <!-- End hover image -->
                                            </a>



                                        </div>
                                        <!-- end product image -->
                                        <!--start product details -->
                                        <div class="product-details text-center">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="short-description.html">[stronger] Yeşil Uzun Kollu Tişört</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div class="product-price">
                                                <span class="old-price">389.90TL</span>
                                                <span class="price">299.90TL</span>
                                            </div>
                                            <!-- End product price -->
                                            <div class="product-review">
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                            </div>
                                            <!-- Variant -->
                                            <!-- End Variant -->
                                        </div>
                                        <!-- End product details -->
                                    </div>
                                    <div class="col-12 item">
                                        <!-- start product image -->
                                        <div class="product-image">
                                            <!-- start product image -->
                                            <a href="short-description.html">
                                                <!-- image -->
                                                <img class="primary blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product3-img-1.PNG" alt="image" title="product">
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product3-img-2.PNG" alt="image" title="product">
                                                <!-- End hover image -->
                                                <!-- product label -->
                                                <div class="product-labels rectangular"><span class="lbl pr-label2">Hot</span></div>
                                                <!-- End product label -->
                                            </a>
                                            <!-- end product image -->



                                        </div>
                                        <!-- end product image -->
                                        <!--start product details -->
                                        <div class="product-details text-center">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="short-description.html">Intermediate Development Programı</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div class="product-price">
                                                <span class="old-price">299.90TL</span>
                                                <span class="price">249.90TL</span>
                                            </div>
                                            <!-- End product price -->

                                            <div class="product-review">
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                            </div>
                                            <!-- Variant -->
                                            <!-- End Variant -->
                                        </div>
                                        <!-- End product details -->
                                    </div>
                                    <div class="col-12 item">
                                        <!-- start product image -->
                                        <div class="product-image">
                                            <!-- start product image -->
                                            <a href="short-description.html">
                                                <!-- image -->
                                                <img class="primary blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product4-img-1.PNG" alt="image" title="product"
                                                     style="height:37vh ;" />
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product4-img-2.PNG" alt="image" title="product" />
                                                <!-- End hover image -->
                                                <!-- product label -->
                                                <div class="product-labels"><span class="lbl on-sale">Sale</span></div>
                                                <!-- End product label -->
                                            </a>


                                        </div>
                                        <!-- end product image -->
                                        <!--start product details -->
                                        <div class="product-details text-center">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="short-description.html">Spartan Training Şort</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div class="product-price">
                                                <span class="old-price">479.90TL</span>
                                                <span class="price">319.90TL</span>
                                            </div>
                                            <!-- End product price -->

                                            <div class="product-review">
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                            </div>


                                            <!-- End Variant -->
                                        </div>
                                        <!-- End product details -->
                                    </div>
                                    <div class="col-12 item">
                                        <!-- start product image -->
                                        <div class="product-image">
                                            <!-- start product image -->
                                            <a href="short-description.html">
                                                <!-- image -->
                                                <img class="primary blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product5-img-1.PNG" alt="image" title="product" />
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload" src="~/agirsaglamui/assets/images/product-images/product5-img-2.PNG" alt="image" title="product" />
                                                <!-- End hover image -->
                                                <!-- product label -->
                                                <div class="product-labels"><span class="lbl on-sale">Sale</span></div>
                                                <!-- End product label -->
                                            </a>

                                        </div>
                                        <!-- end product image -->
                                        <!--start product details -->
                                        <div class="product-details text-center">
                                            <!-- product name -->
                                            <div class="product-name">
                                                <a href="short-description.html">Feed The Beast Bordo Tank Top</a>
                                            </div>
                                            <!-- End product name -->
                                            <!-- product price -->
                                            <div class="product-price">
                                                <span class="old-price">289.90TL</span>
                                                <span class="price">119.90TL</span>
                                            </div>
                                            <!-- End product price -->

                                            <div class="product-review">
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                            </div>
                                            <!-- End Variant -->
                                        </div>
                                        <!-- End product details -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Collection Tab slider-->
    <!--Collection Box slider-->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="section-header text-center">
                <h1 class="h1">Kategorileri Keşfet!</h1>

            </div>
        </div>
    </div>

    <!--Latest Blog-->
    <div class="latest-blog section pt-4">
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div class="wrap-blog">
                        <a href="blog-left-sidebar.html" class="article__grid-image">
                            <img src="~/agirsaglamui/assets/images/blog/post-img1.PNG" alt="It's all about how you wear" title="It's all about how you wear" class="blur-up lazyloaded mr-4" />
                        </a>
                        <div class="article__grid-meta article__grid-meta--has-image ml-4 p-2">
                            <div class="wrap-blog-inner" style="background-color: #eeeeee ;">
                                <h2 class="h3 article__title ml-4">
                                    <a href="blog-left-sidebar.html">Sporcular için Tasarlandı!</a>
                                </h2>
                                <span class="article__date ml-4">2015'TEN BERİ AĞIRSAĞLAM!</span>
                                <div class="rte article__grid-excerpt ml-4">
                                    Ağırsağlam sporcular en iyisi için akıl
                                    ve bedenlerini sonuna dek zorlar. Ağırsağlam ürünleri de bu tutkuyu yaşatmak için tasarlandı.
                                    Şimdiye dek 20 binden fazla ağırsağlam sporcunun severek kullandığı fit giyim ürünleri, spor malzemeleri ve aksesuarlar;
                                    crossfit, powerlifting ve bodybuilding antrenmanlarında en iyi performans ve konforu yakalamanız için özenle üretildi.

                                    Sizlere verdiğimiz önemi ve ürettiğimiz hizmetleri daha fazla öğrenmek istiyorsanız diğer websitemizi inceleyin.
                                    Akıllı sporcuların adresi Ağırsağlam!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>