<div class="card">
    <div class="card-body">
        <h5 class="card-title">Şifremi Sıfırla</h5>
        <form id="reset-form">
            <div class="form-group">
                <label for="email-input">E-posta Adresi</label>
                <input type="email" class="form-control" id="email-input" placeholder="E-posta Adresi" />
            </div>
            <button type="submit" class="btn btn-primary">Şifremi Sıfırla</button>
        </form>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#reset-form").submit(function (e) {
            e.preventDefault();

            var emailInput = document.getElementById("email-input");
            var emailAddress = emailInput.value;

            $.ajax({
                url: "https://localhost:7119/api/User/Email",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ email: emailAddress }),
                success: function (data) {
                    $("#response-message").html("Şifre sıfırlama isteği başarıyla gönderildi.").addClass("alert alert-success").show();
                },
                error: function (error) {
                    $("#response-message").html("Bir hata oluştu: " + error.responseText).addClass("alert alert-danger").show();
                }
            });
        });
    });
</script>
