<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gizlilik Politikası &ndash; AĞIRSAĞLAM</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/agirsaglamui/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/style.css">
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/responsive.css">
</head>
<div class="pageWrapper">
    <!--Search Form Drawer-->
    <div class="search">
        <div class="search__form">
            <form class="search-bar__form" action="#">
                <button class="go-btn search__button" type="submit"><i class="icon anm anm-search-l"></i></button>
                <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
            </form>
            <button type="button" class="search-trigger close-btn"><i class="icon anm anm-times-l"></i></button>
        </div>
    </div>
    <!--End Search Form Drawer-->
    <!--Header-->
    <div>
        <div class="header-wrap  d-flex">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!--Desktop Logo-->
                    <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                        <a href="https://localhost:7203/Kullanici/Home/index">
                            <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                        </a>
                    </div>
                    <!--End Desktop Logo-->
                    <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                        <div class="d-block d-lg-none">
                            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                <i class="icon anm anm-times-l"></i>
                                <i class="anm anm-bars-r"></i>
                            </button>
                        </div>
                        <!--Desktop Menu-->
                        <div>
                            <nav class="grid__item" id="AccessibleNav">
                                <!-- for mobile -->
                                <ul id="siteNav" class="site-nav medium center hidearrow">
                                    <li class="lvl1 parent megamenu">
                                        <a href="https://localhost:7203/Kullanici/Home/discountedproduct">İNDİRİM <i class="anm anm-angle-down-l"></i></a>

                                    </li>
                                    <li class="lvl1 parent megamenu">
                                        <a href="https://localhost:7203/Kullanici/Home/clothes">GİYİM <i class="anm anm-angle-down-l"></i></a>

                                    </li>
                                    <li class="lvl1 parent megamenu">
                                        <a href="https://localhost:7203/Kullanici/Home/accessory">AKSESUAR <i class="anm anm-angle-down-l"></i></a>

                                    </li>
                                    <li class="lvl1 parent dropdown">
                                        <a href="https://localhost:7203/Kullanici/Home/coffee">KAHVE <i class="anm anm-angle-down-l"></i></a>

                                    </li>
                                    <li class="lvl1 parent dropdown">
                                        <a href="https://localhost:7203/Kullanici/Home/contact">İLETİŞİM <i class="anm anm-angle-down-l"></i></a>

                                    </li>

                                </ul>
                            </nav>
                        </div>
                        <!--End Desktop Menu-->
                    </div>
                    <!--Mobile Logo-->
                    <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                        <div class="logo">
                            <a href="https://localhost:7203/Kullanici/Home/index">
                                <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                            </a>
                        </div>
                    </div>
                    <!--Mobile Logo-->
                    <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                        <div class="site-cart">
                            <a href="https://localhost:7203/Kullanici/Home/cart" class="site-header__cart" title="Cart">
                                <i class="icon anm anm-bag-l"></i>
                                <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span>
                            </a>

                        </div>
                        <div class="site-header__search">
                            <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width bg-light text-dark">GİZLİLİK Politikası</h1></div>
        </div>
    </div>
    <!--End Page Title-->
    <!--GÖrseller-->
    <div class="container pl-5">
        <div class="row text-left">
            <div class="col-12 font-weight-bold">
                <p>
                    <span>
                        Bu gizlilik bildirimi, shop.agirsaglam.com web sitesinin veriyi toplama ve kullanma yöntemini açıklar.
                        Sizlere daha iyi hizmet verebilmek amacıyla, bu web sitesine erişim sağladığınızda sizden bazı kişisel bilgilerinizi istemekteyiz.
                        Bunlar arasında; isim, soyisim, e-posta adresi, iş veya ev adresi, iş veya cep telefonu, şirket ünvanı vb. bilgiler yer almaktadır.
                        Bu bilgiler sitenin iyileştirilmesi, müşteri eğilimlerinin anlaşılması için kullanılabilir.
                        Ağırsağlam Mağaza, alışveriş süresince topladığı bilgileri sizin haberiniz olmadan, üçüncü şahıslarla kesinlikle paylaşmaz, faaliyet dışı hiçbir
                        nedenle ticari amaçla kullanmaz ve satmaz.
                    </span>
                </p>
                <p>
                    <span>
                        Ödeme sayfasında istenen kredi kartı bilgileriniz, güvenliğinizi en üst seviyede tutmak amacıyla hiçbir şekilde
                        shop.agirsaglam.com veya ona hizmet veren şirketlerin sunucularında tutulmamaktadır.
                    </span>
                </p>
                <p>
                    <span>
                        AĞIRSAĞLAM ÇEREZ POLİTİKASI
                    </span>
                </p>
                <p>
                    <span>
                        İşbu çerez politikasında, elektronik
                        iletişim gizliliği hakkında AB Direktifi’ne tabi çerezler ile diğer benzeri teknolojilere
                        atıfta bulunmak için “çerez” terimini kullanıyoruz.
                    </span>
                </p>
                <p>
                    <span>
                        Çerezler Nedir?
                    </span>
                </p>
                <p>
                    <span>
                        Çerezler web sitelerinde bulunan küçük, genellikle şifrelenmiş metin dosyalarıdır. Web geliştiricileri tarafından,
                        kullanıcıların web sitelerinde verimli bir şekilde gezinmelerine ve belirli işlevleri gerçekleştirmelerine yardımcı
                        olmak için kullanılırlar.
                    </span>
                </p>
                <p>
                    <span>
                        Çoğu web tarayıcısı çerezleri destekler ve ihtiyaç duyarlar; ancak, kullanıcılar tarayıcılarını belirli
                        türlerde çerezleri veya özel çerezleri reddedecek şekilde ayarlayabilirler. Ayrıca kullanıcılar istedikleri zaman çerezleri silebilirler.
                    </span>
                </p>
                <p>
                    <span>
                        Çerezler Neler Yapamazlar?
                    </span>
                </p>
                <p>
                    <span>
                        Çerezler düz metin dosyalarıdır. Bilgisayarınıza göz atamazlar,
                        bilgisayarınızı tarayamazlar, başka bir şekilde sizi gözetleyemezler veya sabit diskinizde özel bilgiler arayamazlar.
                    </span>
                </p>
                <p>
                    <span>
                        Çerezlerin çok sınırlı bir işlevi vardır: Tarayıcınızın günümüzde pek çok web sitesinde tasarlanmış tüm özellikleri kullanmalarına
                        yardımcı olmak için varlardır.
                        Bu özellikler arasında sorunsuz oturum açma, tercih ayarları, temalar, alışveriş sepetleri ve diğer birçok özellik bulunur.
                    </span>
                </p>
                <p>
                    <span>
                        Çerezler Nasıl Toplanır?
                    </span>
                </p>
                <p>
                    <span>
                        Çerezlerin kullandığı veriler tarayıcılara eriştiğiniz cihazlar vasıtasıyla toplanır. Toplanan bu bilgiler cihazlara özeldir.
                        İstenildiği zaman kullanıcı tarafından silinebilmekte ve bilgilere erişim kısıtlanabilmekte ya da kapatılabilmektedir.
                    </span>
                </p>
                <p>
                    <span>
                        Neden Çerezleri Web Sitemizde Kullanıyoruz?
                    </span>
                </p>
                <p>
                    <span>
                        Web sitemizdeki kullanıcı deneyiminizi arttırmak, site içerisindeki etkileşimlerinizi daha iyi tanımak ve web sitemizi/sitelerimizi
                        ziyaret deneyiminizi kullanıcı lehine iyileştirmek için çerezleri kullanıyoruz. Örneğin bazı çerezler web sitesinde
                        tercih ettiğiniz dili veya kullanıcı adını hatırlar; böylece web sitemizi ziyaret ettiğinizde bu tercihleri
                        yeniden yapmak zorunda kalmazsınız. Bir diğer örnek olarak
                        alışveriş sepetine eklediğiniz ürünlerin bir başka sekmeye geçtiğinizde kaybolmayıp yeniden aynı ürünleri tekrar tekrar
                        seçmemenize yararlar.
                    </span>
                </p>
                <p>
                    <span>
                        Web sitesinde sunduğumuz hizmetlerimizi ve ürünlerimizi pazarlama amacıyla size üçüncü taraf web sitesinde hedefe
                        yönelik reklamlarla hizmet sunmak üzere web sitemizdeki çerezler vasıtasıyla davranışlarınızdan öğrendiklerimizi bu amaçla kullanabiliriz.
                    </span>
                </p>
                <p>
                    <span>
                        Web Sitemizde Ne Tür Çerezler Kullanıyoruz?
                    </span>
                </p>
                <p>
                    <span>
                        Oturum Çerezleri (Session Cookies): Bu çerezler, tarayıcınızı kapattığınızda silinen geçici çerez dosyalarıdır.
                        Tarayıcınızı yeniden başlattığınızda ve çerezi oluşturan siteye geri döndüğünüzde, web sitesi sizi tanımayacaktır.
                    </span>
                </p>
                <p>
                    <span>
                        Kalıcı Çerezler (Persistent Cookies): Bu çerezler, siz manuel olarak silene veya tarayıcınız
                        kalıcı çerez dosyasında bulunan süreye göre bunları silene kadar tarayıcınızın alt klasörlerinden birinde kalır.
                    </span>
                </p>
                <p>
                    <span>
                        Çerezleri Nasıl Silebilirim?
                    </span>
                </p>
                <p>
                    <span>
                        Yukarıda açıklanan sebeplerle web sitemizde bazı çerezler kullanılmaktadır.
                        Mevcut tarayıcınızın ayarlarını değiştirerek çerezlere dair tercihlerinizi değiştirebilirsiniz.
                        Birçok tarayıcının çerezleri otomatik olarak aldığından dolayı çerezlerin kullanılmasını istemiyorsanız
                        çerezleri kendiniz silmeniz veya erişimini engellemeniz gerekebilir. Web sitemizdeki bazı çerezlerin kullanımını
                        reddetmeniz ya da kullanılmamasını sağlamanız takdirinde web sitemizi kullanmaya devam edebilirsiniz
                        ancak işlevlerden bazıları doğru çalışmayabilir.
                        Bu sebepten dolayı oluşabilecek her türlü aksaklıktan (sipariş, aktivasyon, üyelik gibi vb.)
                        AĞIRSAĞLAM sorumlu değildir.
                    </span>
                </p>
                <p>
                    <span>
                        AYDINLATMA METNİ
                    </span>
                </p>
                <p>
                    <span>
                        Kişisel verilerin işlenmesinde başta anayasanın 20. madde 3. fıkrası kapsamında
                        ve kişilerin temek hak ve özgürlükleri ile özel hayatın gizliliğini korumayı amaçlayan
                        7 Nisan 2016 tarihli ve 29677 Sayılı Resmî Gazete’de yayımlanan 6698 sayılı Kişisel Verilerin Korunması
                        Kanunu (“KVKK”)’nun “Veri Sorumlusunun Aydınlatma Yükümlülüğü” başlıklı 10. maddesi ile 10 Mart 2018 tarih ve 30356 sayılı
                        Resmi Gazete’de yayımlanan Aydınlatma Yükümlülüğünün Yerine Getirilmesinde Uyulacak Usul ve Esaslar Hakkında Tebliğ uyarınca
                        işbu Aydınlatma Yükümlülüğü ile AĞIRSAĞLAM Bilişim Danışmanlık ve Ticaret Ltd. Şti. (“AĞIRSAĞLAM” veya “Şirket”)
                        olarak internet sitemiz vasıtasıyla işlediğimiz kişisel verileriniz hakkında ilgili kişileri bilgilendirmek istemekteyiz.
                    </span>
                </p>
                <p>
                    <span>
                        İlgili Kişilerin, kişisel verileri işlenirken Kişisel Verilerin Korunması Kanunu 4. madde uyarınca:
                    </span>
                </p>
                <ul>
                    <li>Hukuka ve dürüstlük kurallarına uygun olarak,</li>
                    <li>Doğru ve gerekli durumda güncel olarak,</li>
                    <li>Belirli, açık ve meşru amaçlar için işlenerek,</li>
                    <li>İşlendikleri amaçla bağlantılı, sınırlı ve ölçülü olarak,</li>
                    <li>İlgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar muhafaza edilerek,</li>
                </ul>
                <p>
                    <span>
                        ve yukarıda sayılan Genel İlkeler kapsamında kişisel verileriniz işlenecektir.
                    </span>
                </p>
                <p>
                    <span>
                        A) Veri Sorumlusu
                    </span>
                </p>
                <p>
                    <span>
                        Kişisel verileriniz, veri sorumlusu sıfatıyla
                        “Ağırsağlam Bilişim Danışmanlık ve Ticaret Ltd. Şti.” tarafından 6698 sayılı Kişisel Verilerin Korunması Kanunu uyarınca işlenecektir.
                    </span>
                </p>
                <p>
                    <span>
                        B) Kişisel Verilerin Hangi Amaçla İşleneceği
                    </span>
                </p>
                <p>
                    <span>
                        Ağırsağlam Bilişim Danışmanlık ve Ticaret Ltd. Şti. ile ilişkiniz dolayısıyla elde
                        edilen kişisel verileriniz; şirket faaliyetlerinin mevzuata uygun yönetilmesi, satış süreçlerinin planlanması
                        yürütülmesi ve tamamlanması, satış sonrası süreçlerin geliştirilmesi, müşteri istek ve/veya şikayetlerinin takibi,
                        müşteri memnuniyeti süreçlerini yönetmek ve planlamak, pazarlama, teklif ve bilgiler sunma, kampanya ve fırsatlardan
                        haberdar etme, reklam, araştırma, faturalandırma, muhasebe, tahsilat işlemleri, şirket içi ve operasyonel faaliyetlerin
                        yürütülmesi, hizmet kalitesinin geliştirilmesi, ölçülmesi, denetim, kontrol, iletişim, yetkili kurum, kuruluş ve mercilerin
                        kararlarını yerine getirme, taleplerini cevaplama, tüketiciler ile yapılan mesafeli satım ve hizmet sözleşmelerinin yapılması,
                        ifası ve kargoların yollanması, kişiye özel antrenman programlarının hazırlanması, kişiye özel yapılan spor danışmanlığının yapılması
                        ve ifası, taraflar arasındaki diğer sözleşmelerin
                        yapılması ve ifası ve amacıyla, Anayasa madde 20, fıkra 3 başta olmak üzere Kişisel Verilerin Korunması Mevzuatına uygun olarak işlenir.
                    </span>
                </p>
                <p>
                    <span>
                        C) İşlenen Kişisel Verilerin Hangi Amaçlar İle Kimlere Aktarılacağı

                    </span>
                </p>
                <p>
                    <span>
                        İlgili kişilerin işlediğimiz kişisel verileri, şirketimizin faaliyetleri çerçevesinde işbu aydınlatma metninde
                        belirtilen amaçlarla kısıtlı olmak şartıyla iş ortaklarımızla, mevzuat uyarınca yetkili kamu kurum ve kuruluşları ve
                        tahsilat ile yetkilendirilen kurumlar ile paylaşılabilecektir. İlgili kişilerin işlenen kişisel verileri 6698 sayılı
                        Kişisel Verilerin Korunması Kanunu’nun 8. ve 9. maddelerinde belirtilen
                        kişisel veri işleme şartları ve amaçları ile sınırlı olarak üçüncü taraflara aktarılabilecek, yurtiçinde ve yurt dışında işlenebilecektir.
                    </span>
                </p>
                <p>
                    <span>
                        D) Kişisel Verilerin Toplanma Yöntemleri Ve Hukuki Sebepleri
                    </span>
                </p>
                <p>
                    <span>
                        Kişisel verileriniz işbu aydınlatma metninde bahsedilen amaçlarla sınırlı olmak üzere,
                        otomatik veya otomatik olmayan yöntemlerle, internet sitesi, elektronik posta, mobil uygulamalar, başvuru formları,
                        faks, çağrı merkezi, taraflar arasında
                        yapılan sözleşmeler, şirket ile yapılan yazılı, sözlü veya elektronik iletişim kanalları gibi yöntemlerle kullanılarak toplanabilecektir.
                </p>
                <p>
                    <span>
                        İşlenen kişisel verileriniz Kişisel Verilerin Korunması Mevzuatı uyarınca:
                    </span>
                </p>
                <ul>
                    <li>Kanunlarda açıkça öngörülmesi,</li>
                    <li>
                        Fiili imkansızlık nedeniyle rızasını açıklayamayacak durumda bulunan veya rızasına
                        hukuki geçerlilik tanınmayan kişinin kendisinin ya da bir başkasının hayatı veya beden bütünlüğünün korunması için zorunlu olması,
                    </li>
                    <li>
                        Bir sözleşmenin kurulması veya ifasıyla doğrudan doğruya ilgili olması kaydıyla,
                        sözleşmenin taraflarına ait kişisel verilerin işlenmesinin gerekli olması,
                    </li>
                    <li>Veri sorumlusunun hukuki yükümlülüğünü yerine getirebilmesi için zorunlu olması,</li>
                    <li>İlgili kişinin kendisi tarafından alenileştirilmiş olması,</li>
                    <li>Bir hakkın tesisi, kullanılması veya korunması için veri işlemenin zorunlu olması,</li>
                </ul>
                <p>
                    <span>
                        İlgili kişinin temel hak ve özgürlüklerine zarar vermemek kaydıyla,
                        veri sorumlusunun meşru menfaatleri için veri işlenmesinin zorunlu olması,
                        veya açık rızanızın bulunması hukuki sebepleri uyarınca işlenebilecektir.
                    </span>
                </p>
                <p>
                    <span>
                        E) Kişisel Verisi İşlenen İlgili Kişilerin Hakları
                    </span>
                </p>
                <p>
                    <span>
                        İlgili kişilerin 6698 Sayılı Kişisel Verilerin Korunması Kanunu’nun 11. maddesinde hükmü uyarınca:
                    </span>
                </p>
                <ul>
                    <li>Kişisel veri işlenip işlenmediğini öğrenme,</li>
                    <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
                    <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
                    <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
                    <li>
                        Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde
                        bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı
                        üçüncü kişilere bildirilmesini isteme,
                    </li>
                </ul>
                <p>
                    <span>
                        6698 sayılı Kişisel Verilerin Korunması Kanunu ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen,
                        işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin
                        silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                    </span>
                </p>
                <p>
                    <span>
                        İşlenen verilerin münhasıran
                        otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                    </span>
                </p>
                <p>
                    <span>
                        Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.
                    </span>
                </p>
                <p>
                    <span>
                        F) İstekleriniz ve Haklarınız İle İlgili İletişim Adreslerimiz
                    </span>
                </p>
                <p>
                    <span>
                        Yasal haklarınıza yönelik başvuralarınızı ve taleplerinizi <a style="text-decoration: underline;" href="https://drive.google.com/file/d/1rLqCizp1Cj6KhfXiL9dqhNkZRZ4ZPVjC/view">bu link üzerinden </a> tıklayarak ulaşabileceğiniz AĞIRSAĞLAM Bilişim Danışmanlık ve Ticaret Ltd. Şti. Veri Sahibi Başvuru Formu’nu doldurarak şirketimize iletebilirsiniz. Talebinizin niteliğine göre en kısa sürede ve en geç otuz gün içinde başvurularınız ücretsiz olarak sonuçlandırılacaktır; ancak işlemin ayrıca bir
                        maliyet gerektirmesi halinde Kişisel Verileri Koruma Kurulu tarafından
                        belirlenecek tarifeye göre tarafınızdan ücret talep edilebilecektir.
                    </span>
                </p>
            </div>
        </div>
    </div>


</div>

    </div>
<!-- Including Jquery -->
<script src="~/agirsaglamui/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/jquery.cookie.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="~/agirsaglamui/assets/js/bootstrap.min.js"></script>
<script src="~/agirsaglamui/assets/js/plugins.js"></script>
<script src="~/agirsaglamui/assets/js/popper.min.js"></script>
<script src="~/agirsaglamui/assets/js/lazysizes.js"></script>
<script src="~/agirsaglamui/assets/js/main.js"></script>