<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>İade Politikası &ndash; AĞIRSAĞLAM</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/agirsaglamui/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/style.css">
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/responsive.css">
</head>


<div>
    <div class="header-wrap  d-flex">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="https://localhost:7203/Kullanici/Home/index">
                        <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <div>
                        <nav class="grid__item" id="AccessibleNav">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/discountedproduct">İNDİRİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/clothes">GİYİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu">
                                    <a href="https://localhost:7203/Kullanici/Home/accessory">AKSESUAR <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/coffee">KAHVE <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="https://localhost:7203/Kullanici/Home/contact">İLETİŞİM <i class="anm anm-angle-down-l"></i></a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="https://localhost:7203/Kullanici/Home/index">
                            <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">
                        <a href="https://localhost:7203/Kullanici/Home/cart" class="site-header__cart" title="Cart">
                            <i class="icon anm anm-bag-l"></i>
                            <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count"></span>
                        </a>

                    </div>
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width bg-light text-dark">İADE POLİTİKASI</h1></div>
        </div>
    </div>
    <!--End Page Title-->
    <!--GÖrseller-->
    <div class="container ">
        <div class="row text-center mb-xl-5 ">
            <div class="">
                <p>
                    <span>
                        Ağırsağlam'da size en iyi alışveriş deneyimini yaşatmak istiyoruz,
                        bu yüzden cayma hakkınızı kullanarak para iadesi alabilirsiniz. Bunun için 14 gün içinde bize ulaşarak iade talebi yapmanız gerekir.
                        Ancak bazı ürünlerde koşullara bağlı olmak üzere <a class="font-weight-bold">para iadesi yapılmaz.</a>
                    </span>
                </p>
                <p>
                    <span>
                        Detaylı bilgi için lütfen shop@agirsaglam.com adresinden, sipariş numaranız ile bize ulaşın.
                    </span>
                </p>


            </div>
        </div>
    </div>


</div>



<!-- Including Jquery -->
<script src="~/agirsaglamui/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/jquery.cookie.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="~/agirsaglamui/assets/js/bootstrap.min.js"></script>
<script src="~/agirsaglamui//js/plugins.js"></script>
<script src="~/agirsaglamui/assets/js/popper.min.js"></script>
<script src="~/agirsaglamui/assets/js/lazysizes.js"></script>
<script src="~/agirsaglamui/assets/js/main.js"></script>