<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kullanım Koşulları &ndash; AĞIRSAĞLAM</title>
    <meta name="description" content="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/agirsaglamui/assets/images/favicon.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/plugins.css">
    <!-- Bootstap CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/bootstrap.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/style.css">
    <link rel="stylesheet" href="~/agirsaglamui/assets/css/responsive.css">
</head>

<!--Header-->
<div>
    <div class="header-wrap  d-flex">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--Desktop Logo-->
                <div class="logo col-md-2 col-lg-2 d-none d-lg-block">
                    <a href="index.html">
                        <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="Belle Multipurpose Html Template" title="Belle Multipurpose Html Template" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-2 col-sm-3 col-md-3 col-lg-8">
                    <div class="d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                            <i class="icon anm anm-times-l"></i>
                            <i class="anm anm-bars-r"></i>
                        </button>
                    </div>
                    <!--Desktop Menu-->
                    <div>
                        <nav class="grid__item" id="AccessibleNav">
                            <!-- for mobile -->
                            <ul id="siteNav" class="site-nav medium center hidearrow">
                                <li class="lvl1 parent megamenu">
                                    <a href="#">İNDİRİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu">
                                    <a href="clothes.html">GİYİM <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent megamenu">
                                    <a href="accessory.html">AKSESUAR <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="coffee.html">KAHVE <i class="anm anm-angle-down-l"></i></a>

                                </li>
                                <li class="lvl1 parent dropdown">
                                    <a href="#">İLETİŞİM <i class="anm anm-angle-down-l"></i></a>

                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!--End Desktop Menu-->
                </div>
                <!--Mobile Logo-->
                <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-block d-lg-none mobile-logo">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/agirsaglamui/assets/images/logo/logo1.1.PNG" alt="agirsaglam" title="AĞIRSAĞLAM" />
                        </a>
                    </div>
                </div>
                <!--Mobile Logo-->
                <div class="col-4 col-sm-3 col-md-3 col-lg-2">
                    <div class="site-cart">
                        <a href="#;" class="site-header__cart" title="Cart">
                            <i class="icon anm anm-bag-l"></i>
                            <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">2</span>
                        </a>

                    </div>
                    <div class="site-header__search">
                        <button type="button" class="search-trigger"><i class="icon anm anm-search-l"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width bg-light text-dark">Kullanım Koşulları</h1></div>
        </div>
    </div>
    <!--End Page Title-->
    <!--GÖrseller-->
    <div class="container pl-5">
        <div class="row text-center ">
            <div class="col-12">
                <h2>I. Giriş</h2>
                <br>
                <p>1. Bu web sitesine erişiminizden itibaren kullanım koşullarını dikkatlice okuyunuz.</p>
                <br>
                <p>
                    2. Bu web sitesine erişmekle, web sitesini kullanmakla veya web sitesindeki herhangi
                    bir bağlantıyı kullanmanız durumunda aşağıda belirtilen koşullar ve hükümlerle bağlı olmayı taahhüt etmektesiniz.
                    Eğer bu koşullar ve hükümlerle bağlı olmak istemezseniz, internet sitesine erişmeyebilir veya internet sitesini kullanmayabilirsiniz
                    ancak kullanıma başladıysanız web sitesinin kullanımını durdurabilirsiniz.
                </p>
                <br>
                <p>
                    3. “https://shop.agirsaglam.com/” web sitesinde her zaman değişiklik yapma hakkına sahiptir ve
                    bu değişiklikler siteye konulmasıyla derhal yürürlük kazanır. Bu değişikliklerden haberdar olmak amacıyla
                    belirli aralıklarla web sitesi kullanım koşullarını gözden geçirmelisiniz. Web sitesine devam eden erişiminiz
                    veya kullanımınız durumunda değiştirilmiş koşulları kesin olarak kabul ettiğiniz anlamına gelecektir.
                    İlgili Kullanım Koşulları “https://shop.agirsaglam.com/” internet sitesi üzerinden yayınlanarak;
                    internet sitesini kullanan her tüzel veya gerçek kişi tarafından erişimi mümkün kılınmıştır.
                </p>
                <br>
                <h2>II. İnternet Sitesi Kullanım Koşulları ve Yükümlülükleri</h2>
                <br>
                <p>
                    1. Kullanıcılar hukuka uygun amaçlarla web sitesinde her türlü işlemi ve kullanımı yapabilirler.
                    Kullanıcıların web yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kullanıcıların kendilerine ait olup,
                    ilgili hukuki ve cezai yükümlülükler ve sorumluluklarda Ağırsağlam Bilişim Danışmanlık ve Ticaret Limited Şirketi
                    (bundan sonra “AĞIRSAĞLAM” olarak geçecektir)
                    herhangi bir yükümlülüğü veya sorumluluğu bulunmadığını kullanıcılar kabul, beyan ve taahhüt etmektedir.
                </p>
                <br>
                <p>
                    2. AĞIRSAĞLAM web sitesine girilmesi veya işbu web sitesinin kullanımından doğabilecek doğrudan, dolaylı, özel, sonuç niteliğindeki ya da her tür kayıp veya zararlardan hiçbir şekilde sorumlu tutulamaz, yükümlülük yüklenemez.
                    Bu web sitesinde yer alan bilgiler çerçevesinde alacağınız kararlar ile ilgili tüm sorumluluk tarafınıza ait olacaktır.
                </p>
                <br>
                <p>
                    3. AĞIRSAĞLAM, web sitesinde bilgileri yer alan üçüncü taraf kuruluşların,
                    ihmal veya diğer herhangi başka sebepler neticesinde; işlemin ya da kullanımın kesintiye uğraması, hata, kayıp işlemin veya iletişimin gecikmesi, iletişim aksaması, bilgisayar virüsü, iletişim hatası, hırsızlık, imha veya
                    izinsiz kayıtlara girilmesi değiştirilmesi veya kullanılması hususunda hiçbir sorumluluk kabul etmez, garanti veremez, yükümlülük almaz.
                </p>
                <br>
                <p>
                    4. Kullanıcılar internet sitesi içerisinde yer alan her çeşit içeriği çoğaltmayacağı, kopyalamayacağı,
                    dağıtmayacağı, işleyemeyeceğini ve benzer eylemler gerçekleştirmeyeceklerini kabul, beyan ve taahhüt etmektedir.
                </p>
                <br>
                <p>
                    5. Web sitesi kullanıcıları web sitesi içerisinde Türk Ticaret Kanunu hükümleri uyarınca haksız rekabete sebebiyet veren ya da sebebiyet verebilecek işlemlerde bulunmayacağını, AĞIRSAĞLAM’ın ve üçüncü tüzel ve/veya gerçek kişilerin şahsi ve ticari itibarı sarsacak, diğer kullanıcıların kişilik haklarını ihlalde bulunmayacağına, mevzuatta bulunan ilgili kanunlara, kamu düzenine ve genel ahlak kurallarına uygun davranışlar sergileyeceğine, mevzuatta bulunan ilgili kanunların gerekliliklerini yerine getireceğini, yasadışı, suç teşkil edecek, rahatsız edici, kişilik haklarına zarar verici, fikri haklara, telif haklarına, marka haklarına
                    ve mülkiyet haklarına tecavüz edici tutum, davranış ve işlemlerde bulunmayacağını kabul, beyan ve taahhüt etmektedir.
                </p>
                <br>
                <h2>III. İnternet Sitesi Kullanım Koşullarında Değişiklikler</h2>
                <br>
                <p>
                    1. “https://shop.agirsaglam.com/” bu koşullarda önceden ihtara ya da bildirime gerek olmaksızın her zaman tek taraflı olarak değişiklik yapabilir ve işbu değişiklikler web sitesine konulmasıyla derhal yürürlük kazanır. Web sitesi kullanıcıları, bu değişikliklerden haberdar olmak amacıyla periyodik olarak koşulları gözden geçirip koşulları dikkatlice okumalı ve web sitesine devam eden erişiminiz veya devam eden siteyi kullanımınız değiştirilmiş koşulları kesin olarak kabul ettiğiniz anlamına geleceğini kabul etmişlerdir. İlgili Kullanım Koşulları “https://shop.agirsaglam.com/” web sitesi üzerinden yayınlanarak;
                    web sitesini kullanan her tüzel veya gerçek kişi tarafından erişimi mümkün kılınmıştır.
                </p>
                <br>
                <h2>IV. Fikri Mülkiyet Hakları ve Diğer Haklar</h2>
                <br>
                <p>
                    1. Kullanım Koşullarında aksi belirtilmediği sürece, AĞIRSAĞLAM web sitesi ile bağlantılı olarak tüm telif hakları (bilgisayar yazılımlarına ilişkin telif hakları dâhil), patentler, ticari markalar veya ticari isimler, tasarım hakları, veri tabanı hakları, imge, html kodu, diğer kodlar, know-how, ticari sırlar ve güven hakları da dâhil, tüm fikri mülkiyet haklarının mülkiyeti veya lisansı AĞIRSAĞLAM’a ait ve/veya AĞIRSAĞLAM tarafından üçüncü bir kişiden alınan lisans hakkı altında kullanılmaktadır. Kullanıcılar AĞIRSAĞLAM telif haklarına ve diğer hakları dahilinde bulunan işleri ve çalışmaları,
                    işlemek, kopyalamak, paylaşmak, dağıtmak, sergilemek hakkına sahip değildir.
                </p>
                <br>
                <p>
                    2. Başkalarının fikri mülkiyet haklarına da saygı duyuyoruz. Kullanım koşullarıyla ilgili sorularınız veya telif haklarınızın herhangi bir nedenle hizmetlerimizde ya da web sitemizde bulunan herhangi bir içerik tarafından ihlal edildiğini düşünüyorsanız, lütfen “Hukuk Departmanının
                    Dikkatine” başlığıyla info[at]agirsaglam[nokta]com adresine iddia edilen ihlal bildirimini yazılı olarak iletin.
                </p>
                <br>
                <h2>
                    VII. Ödeme Sistemleri ile İlgili Sorumsuzluk Kaydı
                </h2>
                <br>
                <p>
                    1. AĞIRSAĞLAM’ın web sitesinde, uzantılarında veya veritabanında kullanıcılara sunduğu hizmetler, ürünlerin satışı ve benzeri meselelerde üçüncü taraf ödeme hizmeti veren kuruluşlarla anlaşabilir. Üçüncü taraf ödeme hizmeti veren kuruluşlardan kaynaklanan sorunlardan ve/veya aksaklıklardan, hukuka aykırılıklardan doğrudan ve/veya dolaylı olarak AĞIRSAĞLAM sorumlu değildir.
                </p>

            </div>
        </div>
    </div>


</div>
<!-- Including Jquery -->
<script src="~/agirsaglamui/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/jquery.cookie.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/agirsaglamui/assets/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="~/agirsaglamui/assets/js/bootstrap.min.js"></script>
<script src="~/agirsaglamui/assets/js/plugins.js"></script>
<script src="~/agirsaglamui/assets/js/popper.min.js"></script>
<script src="~/agirsaglamui/assets/js/lazysizes.js"></script>
<script src="~/agirsaglamui/assets/js/main.js"></script>